# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask instance folder
instance/
.webassets-cache

# Environment variables and secrets
.env
*.env
.env.*

# Flask cache and logs
*.log
*.pid
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/
.venv/
.pyenv/

# VS Code settings
.vscode/

# Pytest and coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
dist/
build/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Git and other config
*.swp
*.swo
